$if Bash
    # M-h delete word
    "\eh": unix-word-rubout
    # ignore case
    set completion-ignore-case on
    # M-k delete to beginning of the line from the cursor position
    "\ek": unix-line-discard
    "\ey":paste-from-clipboard
    set output-meta on
    set convert-meta off
    set meta-flag on
$endif

